# Fichiers temporaires
*.log
*.tmp

# Dossiers système générés par Vagrant
.vagrant/

# Fichiers de machines virtuelles VirtualBox
*.vbox
*.vdi

# Dossiers locaux de sauvegarde
backup/

# Fichiers d’environnement (à adapter si tu en utilises)
*.env

# Fichiers secrets ou clés (ajoute ici si besoin)
# config/secrets.yml
# *.key
# *.pem
